.features{
  background-color: #FFFFFF;
  font-family: Josefin Sans;
  /*! padding-bottom: 150px; */
  margin: 0;
  text-align: center;
}

.features .categories{
  max-width: 900px;
	width: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
	grid-gap: 20px;
	padding: 20px;
  align-items: center;
}

.features .categories .card{
  width: 100%;
	background: #ffffff;
}

.features .categories .card .imgBx{
  position: relative;
	width: 100%;
  height: 150px;
	overflow: hidden;
}

.features .categories .card .imgBx img{
  width: 100%;
  height: auto;

}


.features .subtitle{
  font-family: DM Serif Display;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: #0AB5A5;
}

.features .nav_prod{
  justify-content: space-between;
  width: 100%;
}

.features .nav_prod ul{
  padding: 0 20px;
  margin: auto;
}

.features .nav_prod ul li{
  display: inline-block;
  padding: 10px 0;
  margin: 0 10px;
}

.features .nav_prod ul li a{
  text-decoration: none;
  font-family: Josefin Sans;
  color: #7E7979;
}

.features .nav_prod ul li a:hover{
  color: #F26241;
  transition: .3s;
}

@media only screen and (min-width: 1200px){
  .features .subtitle{
    font-family: DM Serif Display;
  	text-align: center;
  	font-style: normal;
  	font-weight: normal;
  	font-size: 96px;
  	color: #0AB5A5;
    margin: 50px;
  }

  .features .nav_prod ul{
    padding: 0 0 30px 0;
    margin: auto;
  }

  .features .nav_prod ul li{
    display: inline-block;
    padding: 5px 0;
    margin: 0 10px;
  }

  .features .nav_prod ul li a{
    text-decoration: none;
    font-family: Josefin Sans;
    color: #7E7979;
  }
}

.prod_container{
	width: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
	grid-gap: 20px;
	padding: 20px;
}



@media (max-width: 2000px){
  .prod_container{
    left: 350px;
  }
}

@media (max-width: 1600px){
  .prod_container{
    left: 180px;
  }
}


@media (max-width: 1440px){
  .prod_container{
    left: 140px;
  }
}

@media (max-width: 1300px){
  .prod_container{
    left: 50px;
  }
}

@media (max-width: 1150px){
  .prod_container{
    left: 0;
  }
}




@media only screen and (min-width: 1200px){
  .prod_container{
  	position: relative;
  	width: auto;
  	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  	grid-gap: 20px;
  	padding: 20px;
  	top: 20px;
  }
}


.prod_container .card{
	width: 100%;
	background: #ffffff;
}

.prod_container .card .imgBx{
	position: relative;
	width: 100%;
  height: 150px;
	overflow: hidden;
}

@media only screen and (min-width: 400px){
  .prod_container{
  	position: relative;
  	max-width: 1200px;
  	width: auto;
  	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  	grid-gap: 20px;
  	padding: 20px;
  	top: 20px;
  }
  .prod_container .card .imgBx{
  	position: relative;
  	width: 100%;
  	height: 310px;
  	overflow: hidden;
  }
}

.prod_container .card .imgBx img{
  position: absolute;
	width: 100%;
	height: 100%;
  left: 0;
	object-fit: cover;
	transition: 0.5s ease-in-out;
}

.prod_container .card .imgBx img.img-back:hover{
	opacity: 0;
  cursor: pointer;
}

.prod_container .card:hover .imgBx img{
	transform: scale(1);
}

.action{
  position: absolute;
  top: 10px;
  right: 10px;
}

.action li{
  position: relative;
	list-style: none;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
  margin: 4px;
	color: white;
	cursor: pointer;
  background: #F2786D;
  border-radius: 20px;
  transition: transform 0.5s;
  transform: translateX(70px);
}

.action li:nth-child(2){
  transition-delay: 0.15s;
}

.action li:nth-child(3){
  transition-delay: 0.3s;
}

.prod_container .card:hover .action li{
	transform: translateY(0px);
	transition: 0.5s;
}

.action li:hover{
	background: white;
	color: black;
	transition: 0.5s;
}

.action li span{
  font-family: Josefin Sans;
	position: absolute;
	top: 60px;
  right: 50px;
	transform: translateY(-50px) translateY(10px);
	white-space: nowrap;
	padding: 4px 10px;
	background: #ffffff;
	color: #000000;
	font-weight: 500;
	font-size: 12px;
	border-radius: 4px;
	pointer-events: none;
	opacity: 0;
	transition: 0.5s;
}

.action li:hover span{
	transform: translateY(-50px) translateY(0);
	opacity: 1;
}

.action li span::before{
  content: '';
	position: absolute;
	top: 10px;
	right: -4px;
	width: 8px;
	height: 8px;
	background: #FFFFFF;
	transform: translateY(-50%) rotate(45deg);
}

.prod_container .card .prod_content{
	padding: 10px;
}

.prod_container .card .prod_content .productName h3{
	font-family: 'DM Serif Display', serif;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	font-size: 18px;
	margin-bottom: 5px 0;
}

.prod_container .card .prod_content .price h4{
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	text-align: center;
	margin: 1em;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.instagram{
  background-color: white;
  margin-top: 100px;
}

.instagram h3{
  font-family: DM Serif Display;
  font-size: 48px;
  color: #0AA394;
  text-align: center;
  /*! margin-top: 50px; */
  margin: 0;
}


.instagram .imagenes2{
  position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.instagram .imagenes2 .card{
  position: relative;
	width: 200px;
	height: 200px;
	margin: 20px;
	overflow: hidden;
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
	display: flex;
	align-items: center;
}

.instagram .imagenes2 .card .imgBx{
  position: relative;
	width: 100%;
  height: 200px;
	overflow: hidden;
}

.instagram .imagenes2 .card .imgBx img{
  position: absolute;
	width: 100%;
	height: 100%;
  left: 0;
	object-fit: cover;
	transition: 0.5s ease-in-out;
}

.instagram .imagenes2 .card .content{
  position: absolute;
	bottom: -160px;
	width: 100%;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	flex-direction: column;
	backdrop-filter: blur(15px);
	background-color: #FFFFFF;
	box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
	border: 1px solid rgba(255,255,255,0.2);
	transition: bottom 0.5s;
}

.instagram .imagenes2 .card:hover .content{
  bottom: 0px;
}

.instagram .imagenes2 .card .content .contentBx h5{
  font-family: Josefin Sans;
	text-align: center;
}

.instagram .imagenes2 .card .content .contentBx h5 a{
  text-decoration: none;
}

.instagram .imagenes2 .card .content .contentBx:hover h5{
  color: #0AA394;
  transition: 0.5s;
}
